@model COMP2139_assign01.Models.Inventory

@{
    ViewBag.Title = "Add Item";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form asp-action="Add" method="post">
    
    <div class="form">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form">
        <label asp-for="category" class="control-label"></label>
        <input asp-for="category" type="text"/>
        <span asp-validation-for="category" class="text-danger"></span>
    </div>
    
    <div class="form">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" type="number"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    
    <div class="form" >
        <label asp-for="Quantity" class="control-label"></label>
        <input type="range" min="0" max="100"/>
    </div>

    <div class="form">
        <input type="submit" value="Add" class="submit-btn"/>
        <a asp-action="Index" class="cancel-btn">Cancel</a>
    </div>

</form> 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
